<div class="container">
  <div class="py-5 text-center">
    <h2>Claims</h2>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex lh-condensed" style="padding: 0; border: none;">
          <div style="">
            <input type="checkbox" style="height: 100%"/>
          </div>
          <div class="list-group-item d-flex lh-condensed verified"
               style="width: 100%; margin: .2rem; border-radius: .25rem">
            <div>
              <h6 class="my-0">Over 18</h6>
              <small class="text-muted">You are over 18</small>
            </div>

          </div>
        </li>
        <li class="list-group-item d-flex lh-condensed" style="padding: 0; border: none;">
          <div style="">
            <input type="checkbox" style="height: 100%"/>
          </div>
          <div class="list-group-item d-flex lh-condensed not-verified"
               style="width: 100%; margin: .2rem; border-radius: .25rem">
            <div>
              <h6 class="my-0">Drivers license</h6>
              <small class="text-muted">License for driving a car</small>
            </div>

          </div>
        </li>
        <li class="list-group-item d-flex lh-condensed" style="padding: 0; border: none;">
          <div style="">
            <input type="checkbox" style="height: 100%"/>
          </div>
          <div class="list-group-item d-flex lh-condensed not-verified"
               style="width: 100%; margin: .2rem; border-radius: .25rem">
            <div>
              <h6 class="my-0">Finance</h6>
              <small class="text-muted">Check for enough money</small>
            </div>

          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row icons" style="float: left;">
    <a style="margin: 6px">
      <div class="fa fa-trash icon">
      </div>
    </a>
  </div>

  <div class="row icons" style="float:right;">
    <a routerLink="/claimer/select" style="margin: 6px">
      <div class="fa fa-plus icon">
      </div>
    </a>
    <a style="margin: 6px">
      <div class="fa fa-pencil icon" style="height: 24px">
      </div>
    </a>
    <a routerLink="/claimer/select" style="margin: 6px">
      <div class="fa fa-arrow-right icon">
      </div>
    </a>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2019 SCRATCH</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>
