<div class="container">
  <div class="py-5 text-center">
      <h2>Create claim</h2>
  </div>
  <div class="row content">
    <div class="col-md-11">
      <p><input type="text" placeholder="CA"/></p>
      <p><input type="text" placeholder="Name"/></p>
      <p><input type="text" placeholder="E-Mail"/></p>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary">Create</button>
    </div>
  </div>
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2019 SCRATCH</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>
