/* You can add global styles to this file, and also import other style files */
.verified{
  background-color: limegreen;
}

.not-verified{
  background-color: indianred;
}

.icons{
  margin-top: 40px;
}

.icon{
  margin-left: 10px;
}
